body {
	font-size: 15px;	
	padding-top: 80px;
}

.article .card-text {
	line-height: 18px;
	max-height: 36px;
    overflow: hidden;
    word-break: break-word;
}

.article .article-img-url {
	height: 78px; 
	width: 130px; 
	display: block; 
}

.article-img {
	margin-left: 15px;
} 
	
.article{
	margin-bottom: 36px;
}

#rss{
	margin-bottom: 54px;
}
